/* Header css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
}

.links {
  display: flex;
  gap: 1.5rem;
  color: black;
}

/* Logo styles */
.logo {
  height: 30px; /* You can adjust this */
  width: auto;  /* Maintain aspect ratio */
  object-fit: contain;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 2rem;
  flex-wrap: wrap;
}

.footerLeft {
  flex: 1;
  color: white;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

.footerRight {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.footerLogo {
  height: 100px;
  width: auto;
  object-fit: contain;
}